<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <navbar></navbar>
            

            <router-outlet></router-outlet> <!-- Bu kısım ise localhost:4200/movies vs. / dan sonrakine göre getirilcek kısım olcak o yüzden bu şekilde yapıyoruz. Yani buraya gelecek olan component hangisiyse ona göre değişcek-->

            <logging></logging> <!-- her zaman olucak burası o yüzden normal tanımladık. Aynı şekilde navbar kısmı da her zaman olucak orayı da normal yazdık-->
        </div>
    </div>
</div>




